.title {
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  pointer-events: none;
  z-index: 2;
}

.whiteTheme {
  position: absolute;
  bottom: 120px;
  text-shadow: 0.4rem 0.6rem 0.4rem rgba(18, 18, 18, 0.5);
}

.darkTheme {
  color: #efefef;
  position: absolute;
  top: 120px;
  font: var(--font-head-large);
}

@media all and (max-width: 800px) {
  .darkTheme {
        top:90px;
  }
  .whiteTheme  {
    bottom: 160px;
  }
}


