.logo {
  background-size: contain;
  background-position: center;
  width: 120px;
  height: 80px;
  background-repeat: no-repeat;
}



.darkTheme {
  background-image: url('../../assets/images/logowhite.png');
}
.whiteTheme {
  background-image: url('../../assets/images/logo.png');
}

.logoHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding: 8px;
  border-radius: 8px;
}

.white {
  background-color: white;
  transition: none !important;
}

.dark {
  position: fixed;
  z-index: -2;
  top: 24px;
  transition: none !important;
  left: 50vw;
  transform: translate(-50%);
  background-color: black;
}


@media all and (max-width: 800px) {
  .logo {
    width: 70px;
    height: 40px;
  }
}
